@model GadgetsContainerVm
<div>
    <a href="/gadgets/create" class="btn btn-primary">Create</a>
    <table class="table table-dark table-striped">
    </table>
</div>
<div class="card-group">

 @foreach (var item in Model.AllGadgets)
{

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@item.ImageName" alt="Card image cap">
    <div class="card-body">
            <h5 class="card-title">@item.ProductName</h5>
        <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
            <li class="list-group-item">Product Name: @item.ProductName</li>
            <li class="list-group-item">Brand: @item.Brand</li>
            <li class="list-group-item">Cost:  @item.Cost</li>
            <li class="list-group-item">Type:  @item.Type</li>
    </ul>
    <div class="card-body">
                <a class="btn btn-primary" href='@($"edit?id={@item.Id}")'>Edit</a>
                <button class="btn btn-danger" type="button" onclick="deleteGadget(@item.Id)">Delete</button>
    </div>
</div>

}
</div>
<div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Produc tName</th>
                <th scope="col">Brand</th>
                <th scope="col">Cost</th>
                <th scope="col">Type</th>
            </tr>
        </thead> 
        <tbody>
            @foreach (var item in Model.AllGadgets)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.ProductName</td>
                    <td>@item.Brand</td>
                    <td>@item.Cost</td>
                    <td>@item.Type</td>
                    <td>
                        <a class="btn btn-primary" href='@($"edit?id={@item.Id}")'>Edit</a>
                        <button class="btn btn-danger" type="button" onclick="deleteGadget(@item.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <h4>Are your sure, you want to delete?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="POST" id="deleteForm">
                    <button type="submit" class="btn btn-primary">Delete</button>

                </form>
            </div>
        </div>
    </div>
</div>